* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: "Red Hat Display", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 48px;
}

.hero-and-intro-text {
  margin-top: 64px;
}

.hero-left,
.hero-right {
  display: none;
}

.hero {
  width: 100%;
  overflow: hidden;
}

.hero img {
  width: 110%;
  margin-left: -5%;
}

.intro-text {
  text-align: center;
  margin: 0 auto;
  margin-top: 48px;
  padding: 0 32px 32px 32px;
  /* width: 305px; */
}

.intro-text h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 110%;
  color: #28283d;
}

.wrap {
  text-wrap: wrap;
}

.intro-text p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #87879d;
}

.intro-buttons {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.hero-download-button,
.hero-learn-more-button {
  border: none;
  color: white;
  padding: 16px 40px;
  border-radius: 29px;
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
  cursor: pointer;
}

.hero-download-button {
  background-color: #4d96a9;
}

.hero-learn-more-button {
  background-color: #855fb1;
}

.hero-download-button span {
  color: #8fe3f9;
}

.meetings-section {
  padding: 32px 32px 64px 32px;
}

/* Divider */

.vert {
  width: 1px;
  height: 80px;
  border-left: 1px solid #d1d1df;
  margin: 0 auto;
}

.divider-1-number span,
.divider-2-number span {
  width: 56px;
  height: 56px;
  border: 1px solid #d1d1df;
  border-radius: 50%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 900;
  color: #87879d;

  margin: 0 auto;
}

.meetings-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.meeting-section-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 64px;
}

.meeting-section-images img {
  width: 148px;
  border-radius: 8px;
}

.meetings-section-text {
  margin-top: 64px;
}

.meetings-section-text h2 {
  font-size: 12px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 4px;
  color: #4d96a9;
}

.meetings-section-text h3 {
  margin-top: 16px;
  font-size: 32px;
  font-weight: 900;
  line-height: 110%;
  color: #28283d;
}

.meetings-section-text p {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #87879d;
}

.divider-2-number {
  margin-bottom: -28px;
}

footer {
  position: relative;
  z-index: -1;
}

footer img {
  display: none;
}

.mobile-footer-image {
  display: block;
  width: 100%;
}

.footer-section {
  text-align: center;
  padding: 64px 32px;
  background-color: rgba(77, 150, 169, 0.87);
  color: white;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-section h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 110%;
}

.footer-section p {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.footer-button {
  border: none;
  padding: 16px 40px;
  border-radius: 29px;

  background-color: #855fb1;
  color: white;

  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
  cursor: pointer;
}

.footer-button span {
  color: #d9b8ff;
}

@media (min-width: 768px) {
  .intro-text {
    margin-top: 72px;
    width: 448px;
    padding: 0 32px 64px 32px;
  }

  .intro-text h1 {
    font-size: 48px;
  }

  .intro-buttons {
    flex-direction: row;
  }

  .meetings-section {
    padding: 56px 32px 64px 32px;
  }

  .meeting-section-images {
    display: flex;
    gap: 24px;
  }

  .meeting-section-images img {
    width: 152px;
  }

  .meetings-section-text {
    width: 504px;
  }

  .meetings-section-text h2 {
    font-size: 14px;
  }

  .meetings-section-text h3 {
    font-size: 36px;
  }

  .mobile-footer-image {
    display: none;
  }

  .tablet-footer-image {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1440px) {
}
