* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 48px;
}

.hero-and-intro-text {
  margin-top: 64px;
}

.hero-left,
.hero-right {
  display: none;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.hero img {
  width: 114%;
}

.intro-text {
  text-align: center;
  margin: 48px 35px 0 35px;
  width: 305px;
}

.intro-text h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 110%;
  color: #28283d;
}

.intro-text p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #87879d;
}

.intro-buttons {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.hero-download-button,
.hero-learn-more-button {
  border: none;
  color: white;
  padding: 16px 40px;
  border-radius: 29px;
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
  cursor: pointer;
}

.hero-download-button {
  background-color: #4d96a9;
}

.hero-learn-more-button {
  background-color: #855fb1;
}

.hero-download-button span {
  color: #8fe3f9;
}

.meetings-section {
  margin-top: 32px;
  padding: 32px 32px 64px 32px;
}

/* Divider */

.vert {
  width: 1px;
  height: 80px;
  border-left: 1px solid #d1d1df;
  margin: 0 auto;
}

.divider-1-number span {
  width: 56px;
  height: 56px;
  border: 1px solid #d1d1df;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 900;
  color: #87879d;

  margin: 0 auto;
}

.meeting-section-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.meeting-section-images img {
  width: 148px;
  border-radius: 8px;
}
footer img {
  display: none;
}
